Checks: 'bugprone-*,clang-analyzer-*,concurrency-*,misc-*,
        performance-*,portability-*,
        -bugprone-easily-swappable-parameters,
        -bugprone-implicit-widening-of-multiplication-result,
        -bugprone-exception-escape,
        -misc-non-private-member-variables-in-classes,
        -performance-no-int-to-ptr',
        -performance-noexcept-move-constructor
